
<p id="notice"><%= notice %></p>
<h1>Cart</h1>
<h5><%=current_user.email %></h5>
<!--<h5>ID: <%#=current_user.id %></h5>-->
<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @user_tickets.each do |user_ticket| %>
    <tr>
      <td><%= link_to ("#{user_ticket.ticket.event.name}: $#{user_ticket.ticket.price}"), user_ticket %></td>
<!--        <td><%#= link_to 'Edit', edit_ticket_path(ticket) %></td>-->
        <td><%= link_to 'Remove from cart', user_ticket, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<br>
<%=link_to 'Pay', pay_tickets_path, method: :post, data:{confirmm: 'Are you sure>'} %>
