<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Event Name</th>
    <th scope="col">Location</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>

  <% @events.each do |event| %>
    <tr>
      <th scope="row">
        <% if user_signed_in? %>
          <%= link_to ("#{event.name}"), event %>
        <% else %>
          <%= event.name %>
        <% end   %>
      </th>
      <td><%= event.place.name %></td>
      <td><%= event.start_date %></td>
      <% if can? :manage, Event %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>


  </tbody>
</table>


<br>

<% if can? :manage, Event %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
