<p id="notice"><%= notice %></p>

<%#= link_to "Add To Cart", add_item_to_cart_path %>

<h1><%= @ticket.event.name %></h1>
<h4><%= @ticket.event.place.name %></h4>
<h4>Price: $<%= @ticket.price %></h4>

<%= form_for :user_ticket, :url => {:controller => "user_tickets", :action => "create"} do |person_form| %>
  <%= person_form.text_field :ticket_id, value: @ticket.id, type:"hidden" %>
  <%= submit_tag "Add to cart" %>
<% end %>

<br>
<!--<%#= link_to 'Edit', edit_ticket_path(@ticket) %> |-->
<%= link_to 'Back', url_for(:back) %>
